<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Bootstrap -->
    <link href="http://121.42.175.1/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="http://121.42.175.1/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="http://121.42.175.1/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="http://121.42.175.1/static/css/custom.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>PayKitty</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <% if(Type != "1"){ %>
                <img src="http://121.42.175.1/static/images/buyer.png" alt="..." class="img-circle profile_img">
                <% } else {%>
                <img src="http://121.42.175.1/static/images/seller.png" alt="..." class="img-circle profile_img">
                <% } %>
              </div>
              <div class="profile_info">
                <span>您好！</span>
                <h2><%= AccountName %></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>&nbsp</h3>
                <ul class="nav side-menu">
                  <% if(Type != "1"){ %>
                  <li><a >
                    <i class="fa fa-beer" id="goahead"></i> 出去走走 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                      <li>
                        <a href="http://121.42.175.1:5003">旅店与飞行器预定</a>
                      </li>
                     </ul>
                  </li>
                  <% } %>
                  <li><a >
                    <i class="fa fa-edit"></i> 订单管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                          <li>
                              <a href="http://121.42.175.1/orderlist">所有订单</a>
                          </li>
                    </ul>
                  </li>
                  <li>
                    <a id="myAccount"><i class="fa fa-home"></i> 我的账户 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: block;">
                      <li>
                        <a href="/account/info">账户管理</a>
                      </li>
                      <!-- <li>账户记录</li> -->
                      <li>
                        <a href="/account/transaction">交易信息</a>
                      </li>
                      <!-- <li><a href="index3.html">Dashboard3</a>
                      </li> -->
                    </ul>
                  </li>
                  
                </ul>
              </div>              
            </div>
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">

          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <% if(Type != "1"){ %>
                    <img src="http://121.42.175.1/static/images/buyer.png" alt="">
                    <% } else {%>
                    <img src="http://121.42.175.1/static/images/seller.png" alt="">
                    <% } %>


                    <%= AccountName %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li>
                      <a href="/logout"><i class="fa fa-sign-out pull-right"></i> 退出登录</a>
                    </li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green"><%= message.length %></span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <% for (var i in message) { %>
                      <li>
                        <a href="<%= message[i].href %>">
                          <span class="image">
                            <img src="http://121.42.175.1/static/images/sys.png" alt="Profile Image" />
                          </span>
                          <span>
                            <span>来自<%= message[i].sender %>的消息</span>
                          <span class="time"><%= message[i].time %></span>
                          </span>
                          <span class="message">
                            <%= message[i].message %>
                          </span>
                        </a>
                      </li>                      
                    <% } %>
                    <li>
                      <div class="text-center">
                        <a href="/account/message/clear?backUrl=/account/message&accountID=<%= UserID %>">
                          <strong>确认看过了所有新消息</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="text-center">
                        <a href="/account/message">
                          <strong>查看所有通知</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>

        </div>
        <!-- /top navigation -->

        <!-- page content -->
          <div class="" id='JYXX'>
            <div class="container body">
              <div class="main_container">

                <div class="right_col" role="main">
                  <div class="">

                    <!-- title -->
                    <div class="page-title">
                      <div class="title_left">
                        <h3>
                          我的消息
                        </h3>
                      </div>
                      <div class="title_right">
                        <h1>&nbsp;</h1>
                      </div>
                    </div>
                    <!-- title -->

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>历史消息</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>


                          <div class="x_content">
                            <table id="datatable" class="table table-striped table-bordered">
                              <thead>
                              <tr align="left" style="padding-top:10px">
                                <th>编号</th>
                                <th>发送者</th>
                                <th>消息内容</th>
                                <th>时间</th>
                              </tr>
                              </thead>         
                              <tbody>
                              <% for (var i in message_data) { %>
                              <tr>
                                <td><%= (parseInt(i) + 1) %></td>
                                <td><%= message_data[i].MessageSender %></td>
                                <td><%= message_data[i].MessageContent %></td>
                                <td><%= message_data[i].MessageTime.getFullYear()+'/'+(message_data[i].MessageTime.getMonth()+1)+'/'+message_data[i].MessageTime.getDate() %></td>
                              </tr>
                              <% } %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <!-- FastClick -->
    <script src="http://121.42.175.1/static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="http://121.42.175.1/static/vendors/nprogress/nprogress.js"></script>
    <!-- jQuery -->
    <script src="http://121.42.175.1/static/vendors/jquery/dist/jquery.min.js"></script>
    <!-- jQuery custom content scroller -->
    <script src="http://121.42.175.1/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Bootstrap -->
    <script src="http://121.42.175.1/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="http://121.42.175.1/static/js/custom.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

    <script>
          $('#datatable').dataTable({
            language: {
              url: '//cdn.datatables.net/plug-ins/1.10.11/i18n/Chinese.json'
            }
          });
    //       window.onload=function(){
          
    //         <% if(Type != "1"){ %>
    //         $('#goahead').click();
    //           <%} else {%>
    //         $('#myAccount').click();
    // <%}%>
    //       }
    </script>


  </body>
</html>